@media (max-width: 1320px) {
	.container {
		width: 850px;
	}
	.header .menu {
		margin: 45px auto;
	}
	.header .menu .item {
		padding: 10px 0px;
	}
	.header .menu .item + .item {
		margin-left: 5px;
	}
	.header .menu .item a {}
	.header-h1 {
		font-size: 20px;
		letter-spacing: 1px;
		margin: 136px 125px 0px;
	}
	.header-h1 .header-span {
		font-size: 26px;
	    letter-spacing: 1px;
	    margin: 24px 125px;
	}
	.service {
		width: 550px;
		height: auto;
	}
	.services-leftside {
		width: 550px;
	}
	.service-bottomside {
		width: 550px;
		margin-top: 55px;
		bottom: 6px;
	}
	.service img {
		width: 550px;
		height: auto;
	}
	.sidebar {
		width: 250px;
	}
	.sidebar-h2 {
		margin-top: 20px;
	}
	.sidebar .menu {
		width: 230px;
		margin-top: 25px;
	}
	.sidebar .menu .item a {
		padding: 17px 10px 17px;
		line-height: 15px;
	}
	.sidebar .menu .item a span {
		font-size: 12px;
	}
	.presentation {
		width: 890px;
		margin-left: -15px;
	}
	.presentation-content {
		width: 850px;
		margin-left: 15px;
	}
	.presentation-leftside .presentation-h2 {
		font-size: 26px;
	}
	.presentation-leftside {
		margin-top: 70px;
	}
	.presentation-leftside ul {
		margin-top: 30px;
	}
	.presentation-leftside li + li {
    margin-top: 20px;
	}
	.presentation-leftside li {
	    font-size: 14px;
	}
	.presentation-leftside .whatsapp {
		margin-top: 40px;
	}
	.news .news-article-wrapper {}
		.news-article-wrapper-right {
			float: none;
		}
		.news-article-right {
			margin: 0 auto;
			width: 583px;
			margin-bottom: 40px;
		}
		.news-article-right .news-article-name {
			margin-top: 0;
		}
		.news-article-wrapper-left {
			float: none;
		}
		.news-article {
			margin: 0 auto;
		}
}

/*----------------------------------------*/

@media (max-width: 900px) {
	.container {
		width: 700px;
	}
	.header .menu .item {
	}
	.header .menu .item a {
		letter-spacing: 1px;
	}
	.header-h1 {
		font-size: 16px;
		letter-spacing: 1px;
		margin: 70px 0px;
	}
	.header-h1 .header-span {
		font-size: 24px;
	    letter-spacing: 1px;
	    margin: 24px 0;
	}
	.sidebar .menu .item a span {
		font-size: 10px;
	}
	.services {
		margin-top: 50px;
		width: 470px;
	}
	.service {
		width: 470px;
	}
	.services-leftside {
		width: 470px;
	}
	.service-bottomside {
		width: 470px;
		margin-top: 55px;
	}
	.service img {
		width: 470px;
	}
	.service .service-name {
		margin-left: 20px;
	}
	.service-bottomside .button {
		margin-right: 15px;
	}
	.sidebar {
		width: 200px;
	}
	.sidebar-h2 {
		margin-top: 7px;
	}
	.sidebar .menu {
		width: 180px;
		padding: 0 5px;
		margin-top: 20px;
	}
	.sidebar .item a span {
		font-size: 10px;
		letter-spacing: normal;
	}
	.presentation {
		width: 690px;
		margin-left: 0;
	}
	.presentation-content {
		width: 470px;
	}
	.presentation-leftside {
		margin-top: 50px;
	}
	.presentation-leftside .presentation-h2 {
		font-size: 24px;
	}
	.presentation-leftside li {
		font-size: 13px;
		letter-spacing: normal;
	}
	.presentation-leftside .whatsapp {
		margin-top: 30px;
		width: 340px;
		height: 135px;
	}
	.presentation-leftside .whatsapp > span {
		font-size: 10px;
		margin-top: 5px;
		margin-left: 45px;
	}
	.presentation-leftside .whatsapp .phone .phone-number {
		margin-top: 5px;
		font-size: 14px;
	}
	.presentation-leftside .whatsapp .light {
		padding: 5px 10px;
	    margin-top: 5px;
	    margin-left: 155px;
	    font-size: 10px;
	}
	.presentation-leftside .whatsapp .light span {
		font-size: 10px;
    	margin-left: 5px;
	}
}

/*----------------------------------------*/

@media (max-width: 700px) {
	.container {
		width: 500px;
	}
	.header .menu .item {}
	.header .menu .item a {
		font-size: 10px;
		letter-spacing: 0.5px;
		padding: 12px 15px;
	}
	.header-h1 {
		font-size: 14px;
	    letter-spacing: 1px;
	    margin: 50px 0px 0px;
	}
	.header-h1 .header-span {
		font-size: 22px;
	    letter-spacing: normal;
	    margin: 20px 0px;
	}
	.article {
		margin: auto;
		width: 480px;
	}
	.services {
		margin-top: 20px;
		width: 480px;
	}
	.services-leftside {
		width: 480px;
		margin: auto;
	}
	.service {
		width: 480px;
		margin: auto;
	}
	.service-bottomside {
		width: 480px;
		margin: auto;
		height: 50px;
	}
	.service img {
		width: 480px;
		margin: auto;
	}
	.service-bottomside .service-name {
		margin-left: 10px;
		margin-bottom: 5px;
		line-height: 60px;
	}
	.service .button {
		margin: 13px 10px 0 0;
	}
	.service + .service {
		margin-top: 10px;
	}
	.sidebar {
		float: none;
		width: 480px;
		padding: 5px;
		margin: auto;
		margin-top: 50px;
	}
	.sidebar .menu {
		width: 450px;
		margin: auto;
	}
	.presentation {
		width: 490px;
		padding-bottom: 50px;
	}
	.presentation-content {
		width: 480px;
		margin-left: 0;
	}
	.presentation-leftside .presentation-h2 {
		font-size: 20px;
	}
	.presentation .presentation-leftside {
		margin-top: 30px;
	}
	.presentation-leftside li {
		font-size: 10px;
	}
	.presentation-leftside li::before {
		margin-right: 10px;
	}
	.presentation-leftside .whatsapp {
		margin-top: 45px;
	}
		.presentation-leftside .whatsapp .light {
			margin-left: 165px;
		}
		.presentation-leftside .whatsapp .light .button-text {
		    font-size: 10px;
		}
	.news {
		margin-top: 0px;
	}
	.news .news-article-wrapper {
		margin-top: 20px;
	}
		.news-h2 {
			font-size: 18px;
		}
		.news-article-wrapper-right {

		}
		.news-article-right {
			width: 480px;
			height: 500px;
			margin-bottom: 20px;
		}
		.news-article-right .news-article-name {
			font-size: 12px;
		}
		.news-article-right .news-article-date {
			margin: 0 auto;
		}
		.news-article-wrapper-left {

		}
		.news-article + .news-article {
			margin-top: 20px;
		}
		.news-article {
			width: 480px;
		}
		.news-article .news-article-name {
			font-size: 12px;
		    width: 180px;
		    letter-spacing: 0.5px;
			margin-left: 10px;
		}
		.news-article .news-article-date {
		}
		.news-button-wrapper {
			margin-top: 40px;
		}
		.news-button-wrapper .button {
			font-size: 9px;
		    letter-spacing: 1px;
		    padding: 10px 40px;
		}
	.contacts {
		margin-top: 60px;
	}
		.contacts .contacts-h2 {
			font-size: 18px;
			margin-bottom: 20px;
		}
		.contacts .contacts-container {
			display: block;
		}
		.contacts .branches {
			padding: 0 20px;
		}
		.contacts .branch + .branch {
			margin-top: 30px;
		}
		.contacts .branch {
			padding-bottom: 50px;
		}
		.contacts .branch-loc {
			display: inline-block;
		}
		.contacts .branch-loc .address {
			width: auto;
			float: none;
			display: inline-block;
			text-align: left;
		}
		.contacts .branch-loc .address span {
			font-size: 12px;
		}
		.contacts .branch-phone {
			display: inline-block;
			vertical-align: top;
			margin-top: 0px;
			margin-left: 15px;
			float: right;
		}
		.contacts .branch-phone .phone-number {
			width: auto;
			float: none;
			display: inline-block;
		}
		.contacts-button-wrapper {
			text-align: center;
		}
		.contacts .button.button-all {
			margin-top: 15px;
			margin-bottom: 15px;
			font-size: 9px;
		    letter-spacing: 1px;
		    padding: 10px 40px;
		}
		.contacts .icon-phone-before:before, .contacts .icon-location-before:before {
			float: left;
			margin-right: 15px;
		}

/*----------------------------------------*/

@media (max-width: 500px) {
	.container {
		width: auto;
		margin: 0px 10px;
	}
	.header {
		margin: auto;
	}
	.header .menu {
		width: auto;
    	margin: 10px auto;
	}
	.header .menu .item {
		width: auto;
		display: block;
	}
	.header .menu .item a {}
	.header-h1 {
		font-size: 14px;
		letter-spacing: normal;
		margin: 20px auto;
	}
	.header-h1 .header-span {
		font-size: 18px;
	    letter-spacing: normal;
	    margin: 5px 0px;
	}
	.main {
		margin-top: 20px;
	}
	.sidebar {
		width: auto;
		margin: auto;
	}
	.sidebar .menu {
		width: auto;
	}
	.sidebar .sidebar-h2 {
		width: auto;
		margin-top: 10px;
	}
	.sidebar .item {
		width: auto;
		margin-bottom: 10px;
		padding-bottom: 10px;
	}
	.article {
		width: auto;
	}
	.services {
		width: auto;
		margin-top: 20px;
	}
	.service {
		width: auto;
	}
	.services-leftside {
		width: auto;
		margin-top: 0px;
	}
	.service-bottomside {
		width: 100%;
	}
	.service img {
		width: auto;
	}
	.service .button {
		width: auto;
		padding: 7px 7px;
		font-size: 8px;
	}
	.service .service-name {
		width: auto;
		margin-left: 7px;
		font-size: 10px;
	}
	.service-name span {
		font-size: 14px;
	}
	.presentation {
		width: auto;
		margin-top: 20px;
	}
	.presentation-content {
		width: auto;
	}
	.presentation-content .presentation-leftside {
		width: auto;
	}
	.presentation-content .presentation-leftside .presentation-h2 {
		font-size: 16px;
		letter-spacing: normal;
	}
		.presentation-content .presentation-leftside h2 span {
			margin-bottom: 0;
		}
	.presentation-content .presentation-leftside ul {
		margin-top: 15px;
		margin-left: 0;
	}
	.presentation-content .presentation-leftside li {
		font-size: 8px;
		text-transform: none;
	}
	.presentation-content .presentation-leftside li + li {
		margin-top: 5px;
	}
	.presentation-leftside li::before {
		margin-right: 3px;
		height: 5px;
		width: 5px;
	}
	.presentation-content .whatsapp {
		width: 300px;
		height: 110px;
		margin-top: 15px;
	}
		.presentation-leftside .whatsapp > span {
			font-size: 8px;
			margin-top: 15px;
			margin-left: 35px;
			letter-spacing: normal;
			width: 153px;
			line-height: 15px;
		}
		.presentation-leftside .whatsapp .phone .phone-number {
			font-size: 9px;
			margin-top: 10px;
		}
		.presentation-leftside .whatsapp .light {
			padding: 3px 5px;
		    font-size: 12px;
		    margin-top: 10px;
		    border-radius: 10px;
		    height: 25px;
		    margin-left: 170px;
		}
		.presentation-leftside .whatsapp .light .button-text {
		    font-size: 7px;
		}
	.news {
		margin-top: 30px;
	}
	.news .news-article-wrapper {
		margin-top: 20px;
	}
		.news-article-wrapper-right {

		}
		.news-article-right {
			padding-bottom: 10px;
			width: auto;
			height: 450px;
			margin-bottom: 15px;
		}
		.news-article-right .news-article-name {
			margin: 0 auto;
			font-size: 10px;
			width: 180px;
			letter-spacing: 0.5px;
		}
		.news-article-right .icon.icon-arrow {
			margin-bottom: 0px;
		}
		.news-article-right .news-article-date {
			font-size: 10px;
		}
		.news-article-wrapper-left {

		}
		.news-article + .news-article {
			margin-top: 15px;
		}
		.news-article {
			width: auto;
			justify-content: space-between;
			height: 350px;
			padding-bottom: 10px;
		}
		.news-article .news-article-name {
			margin-top: 0;
			margin: 0 auto;
			font-size: 10px;
			letter-spacing: 0.5px;
		}
		.news-article .news-article-img-wrapper {
			width: 100%;
			height: 200px;
			flex-grow: 0;
		}
		.news-article .news-article-img {
			width: 100%;
		    height: 100%;
		    object-fit: none;
		    object-position: center;
		}
		.news-article .icon.icon-arrow {
			margin-top: 0px;
		}

		.news-article .news-article-date {
			margin-top: 0;
			font-size: 10px;
			margin: 0 auto;
		}
		.news-button-wrapper {
			margin-top: 25px;
		}
		.news .button.button-all {
			padding: 10px 20px;
			font-size: 8px;
		}
	.contacts {}
		.contacts .contacts-h2 {
			font-size: 18px;
		}
		.contacts .map {
			height: 500px;
		}
		.contacts .branches {
			padding: 0 10px;
		}
		.contacts .branch + .branch {}
		.contacts .branch {}
		.contacts .branch-loc.icon-location-before:before {
			transform: scale(0.7);
			margin-right: 5px;
		}
		.contacts .branch-phone.icon-before.icon-phone-before:before {
			transform: scale(0.7);
			margin-right: 5px;
		}
		.contacts .branch-loc .address {}
		.contacts .branch-loc .address span {
			font-size: 9px;
			width: 170px;
		}
		.contacts .branch-phone {}
		.contacts .branch-phone .phone-number {
			font-size: 9px;
		}
		.contacts .button.button-all {
			padding: 10px 20px;
			font-size: 8px;
		}
