@font-face {
	src: url(../fonts/MinionPro-Regular.ttf);
	font-family: "MinionPro-Regular";
}

.clear::after {
	content: "";
	display: block;
	clear: both;
}

.button, button, [type="button"], [type="submit"], [type="reset"] {
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 15px;
	font-weight: bold;
	border: none;
}
.button.light, button.light, [type="button"].light, [type="submit"].light, [type="reset"].light {
    font-size: 10px;
    letter-spacing: 0.7px;
    padding: 3px 19px;
	color: #b143b1;
	height: 34px;
}
.button.button-violet, button.button-violet, [type="button"].button-violet, [type="submit"].button-violet, [type="reset"].button-violet {
	background: #b143b1;
	color: white;
	font-size: 9px;
	padding: 10px 15px;
}
/* .button.button-service, button.button-service, [type="button"].button-service, [type="submit"].button-service, [type="reset"].button-service {
	padding: 8px 22px;
	letter-spacing: 2px;
}
.button.button-news, button.button-news, [type="button"].button-news, [type="submit"].button-news, [type="reset"].button-news {
	background: #b143b1;
	color: white;
	font-size: 9px;
	padding: 8px 22px;
	letter-spacing: 2px;
}
.button.button-address, button.button-address, [type="button"].button-address, [type="submit"].button-address, [type="reset"].button-address {
	background: #b143b1;
	color: white;
	font-size: 9px;
	padding: 8px 22px;
	letter-spacing: 2px;
} */

input [type="text"], [type="number"], [type="email"] {
	background: none;
	border: none;
}
input.phone-number [type="text"], [type="number"], [type="email"] {
	width: 180px;
	font-size: 20px;
	letter-spacing: 2px;
}

.icon, .icon-before:before, .icon-after:after {
	content: "";
	display: inline-block;
	background: url(../images/sprite.png);
}
	.icon-whatsapp, .icon-whatsapp-after:after, .icon-whatsapp-before:before {
		width: 18px;
		height: 18px;
	}
	.icon-arrow, .icon-arrow-after:after, .icon-arrow-before:before {
		width: 15px;
		height: 16px;
		background-position: -18px 0px;
	}
	.icon-location, .icon-location-after:after, .icon-location-before:before {
		width: 18px;
		height: 25px;
		background-position: -33px 0px;
	}
	.icon-phone, .icon-phone-after:after, .icon-phone-before:before {
		width: 24px;
		height: 25px;
		background-position: -51px 0px;
	}
.fab.fa-whatsapp {
	color: green;
	font-size: 18px;
}
.fas.fa-share {
	font-size: 25px;
}
.fas.fa-map-marker-alt {
	font-size: 30px;
	color: #b143b1;
}
.fas.fa-phone-alt {
	font-size: 30px;
	color: #b143b1;
}

body {
	font-family: "MinionPro-Regular";
	background: url(../images/body-bg.png) no-repeat top center, url(../images/body-grad-bg.jpg) repeat-x;
}

.container {
	width: 1171px;
	margin: auto;
}

.header-h1 {
	text-transform: uppercase;
	font-size: 24px;
	color: white;
	margin-top: 136px;
	letter-spacing: 2.3px;
	text-align: center;
}
	.header-h1 .header-span {
		color: #b143b1;
		font-size: 40px;
		margin-top: 3px;
	    text-align: center;
	    display: block;
	    letter-spacing: 4px;
	}
	.header-h1 .header-span-1 {
		margin-top: 26px;
	}

.header {}
	.header .menu {
	    margin: 45px 12px 0px 22px;
	}
	.header .menu .item {
		float: left;
		border-radius: 20px;
    	padding: 10px 25px;
	}
	.header .menu .item + .item {
		margin-left: 86px;
	}
	.header .menu .item > a {
		font-size: 16px;
		text-decoration: none;
		color: white;
		letter-spacing: 2px;
	}
	.header .menu .item:hover,	.header .menu .item.active {
		background-color: #b143b1;
	}

.sidebar {
	float: right;
	width: 367px;
	padding: 10px;
	background: rgba(255, 255, 255, 0.85);
	box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.02);
}
	.sidebar-h2 {
		color: #b143b1;
		text-transform: uppercase;
		font-size: 18px;
		margin-top: 36px;
		text-align: center;
	    letter-spacing: 2px;
	}
	.sidebar .menu {
		padding: 0px 25px;
		margin-top: 42px;
	}
	.sidebar .item {
		border-bottom: 1px solid #f1e1f2;
		margin-bottom: 25.5px;
	    padding-bottom: 25.5px;
	    line-height: 20px;
	}
	.sidebar .item a {
		text-decoration: none;
	}
		.sidebar .item a span {
			text-transform: uppercase;
			font-size: 13px;
			color: black;
			letter-spacing: 0.7px;
		    font-weight: bold;
		}

.services {
	margin-top: 332px;
}
	.services-leftside {
		float: left;
		margin-top: 110px;
	}
		.service {
			width: 731px;
			height: 383px;
			position: relative;
			box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.02);
		}
		.service + .service {
			margin-top: 60px;
		}
			.service > a {
				display: inline-block;
				width: 100%;
				height: 100%;
			}
			.service img {
				width: 100%;
				height: 100%;
			}
			.service-bottomside {
				height: 71px;
				width: 731px;
				position: absolute;
				z-index: 2;
				bottom: 0px;
				background: rgba(241, 225, 242, 0.8);
			}
				.service-bottomside .service-name {
					text-transform: uppercase;
					font-size: 18px;
				    margin-left: 40px;
				    line-height: 70px;
				    letter-spacing: 0.9px;
					text-decoration: none;
					color: black;
				}
				.service-bottomside .button {
					float: right;
					margin-right: 39px;
					margin-top: 20px;
					padding: 8px 22px;
					letter-spacing: 2px;
				}

.presentation {
	background: url(../images/doctor.png);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: 0px 0px;
    width: 1387px;
    margin: 9px 0px 0px -145px;
}
.presentation-content {
	/* background: url(../images/doctor.png);
    background-position: -144px 9px;
	background-repeat: no-repeat; */
	margin: 0 145px;
}
	.presentation-leftside {
		float: left;
	    margin-top: 182px;
	}
	.presentation-leftside .presentation-h2 {
		color: #b143b1;
		font-size: 36px;
		text-transform: uppercase;
		letter-spacing: 3.6px;
	}
		.presentation-leftside .presentation-h2 span {
			display: block;
			margin-bottom: 17px;
		}
	.presentation-leftside ul {
		margin-top: 65px;
		margin-left: 3px;
	}
	.presentation-leftside li {
		text-transform: uppercase;
		letter-spacing: 0.1px;
	}
	.presentation-leftside li::before {
		content: "";
		border: 1px solid #d5a8d7;
	    border-radius: 50%;
	    margin-right: 27px;
	    display: inline-block;
	    width: 15px;
	    height: 15px;
	}
	.presentation-leftside li + li {
		margin-top: 35px;
	}
	.presentation-leftside .whatsapp {
		background: #b143b1;
		width: 439px;
	    height: 215px;
	    margin-top: 62px;
	}
		.presentation-leftside .whatsapp > span {
			text-transform: uppercase;
			color: white;
			display: inline-block;
			margin-top: 34px;
		    margin-left: 40px;
		    line-height: 30px;
		    letter-spacing: 1.5px;
		    font-size: 15px;
		}
		.presentation-leftside .whatsapp .phone {}
		.presentation-leftside .whatsapp .phone .phone-number {
			margin-top: 20px;
		    margin-left: 40px;
			/* color: white; */
		}
		.presentation-leftside .whatsapp .light {
			margin-top: 16px;
    		margin-left: 212px;
		}
		.presentation-leftside .whatsapp .light .fab.fa-whatsapp {
			margin-right: 12px;
		}
		.presentation-leftside .whatsapp .light span {
			vertical-align: middle;
			line-height: 34px;
			font-weight: bold;
		}

.section-video {
	margin-top: 30px;
}
.video-yt {
	width: 100%;
	height: 650px;
}
.video-local {
	width: 100%;
}

.popup {
	background: rgba(255, 255, 255, 0.7);
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	display: none;
}
	.popup-content {
		background: #b143b1;
		width: 442px;
		height: 257px;
		position: fixed;
		margin: auto;
		top: 0px;
		bottom: 0px;
		right: 0px;
		left: 0px;
	}
		.popup-content .cross {
			color: white;
			float: right;
			margin-right: 17px;
			margin-top: 13px;
		}
		.popup-content span {
			text-transform: uppercase;
			color: white;
			display: inline-block;
			margin-top: 52px;
		    margin-left: 53px;
		    text-align: center;
		    line-height: 30px;
		    letter-spacing: 2.1px;
		    font-size: 14px;
		}
		.popup-content .phone {
			position: relative;
		}
		.popup-content .phone .phone-number {
			margin-top: 20px;
		    margin-left: 140px;
		}
		.popup-content .light {
			margin-top: 30px;
			margin-left: 122px;
		}
